//
// Menu breakpoint
//
$full-menu-desk-bp: 1200px; // Burger becomes full menu after this point

//
// Grid width
//
$grid-edges-width: 95%;
$grid-edges-width-breakpoint: 500px; // Breakpoint where grid width changes size
$grid-edges-width-after-breakpoint: 83%; // Site width after breakpoint
$grid-edges-max-width: 1400px;

//
// Typography colours
//
$body-colour: $white;
$headings-colour: $black;
$anchor-default: $blue;


//
// Theme colours
//
$html-bg: $white;
$sub-menu-background-colour: $white;
$sub-menu-font-colour: $black;
$sub-menu-font-colour-active: $blue;
$burger-nav-bars: $black;
$burger-nav-bg: $white;
$burger-nav-text: $black;


//
// Typography
//
$heading-font-family: sans-serif, helvetica;
$main-font-family: sans-serif, helvetica;
