.big-box {
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @extend .bg-overlay;

  &__inner {
    @extend .grid-edges;
    display: flex;
  }

  &__content {
    width: 100%;
  }

  &--auto-height {
    @extend .big-box;
    min-height: 100px !important;
  }

  &--full-height {
    @extend .big-box;
    @extend .section--padding-top;
    min-height: 100vh;
  }

  &--min-half-height {
    @extend .big-box;
    min-height: 50vh !important;
  }
}

@media screen and (min-width: $header-menu-bp) {
  .main-flexible-content {
    .big-box--full-height {
      &:first-child {
        min-height: calc(100vh - #{$header-menu-height});
      }
    }
  }
}
