$mobile-menu-height: 60px;
$mobile-menu-bgcolor: $black;
$mobile-menu-fontcolor: $white;

$header-menu-bp: 500px;
$header-menu-height: 75px;
$header-menu-bgcolor: $black;
$header-menu-fontcolor: $white;

.header-menu {
  background: $header-menu-bgcolor;

  &__edges {
    @extend .grid-edges;
    display: flex;

    > * {
      display: flex;
      align-items: center;
    }

    @media (max-width: $header-menu-bp - 1) {
      height: $mobile-menu-height;
    }
  }

  &__menu {
    list-style: none;
    z-index: 1;

    a {
      font-size: 1.6em;
      padding: 1rem;
      display: block;
    }

    @media (max-width: $header-menu-bp - 1) {
      position: fixed;
      right: 0;
      top: $mobile-menu-height;
      overflow-y: auto;
      height: calc(100vh - #{$mobile-menu-height});
      transform: translateX(100%);
      transition: .25s ease transform;
      background: $mobile-menu-bgcolor;
      color: white;
      padding: 2em;

      a {
        color: $mobile-menu-fontcolor;
      }

      &.open {
        transform: translateX(0);
      }
    }
  }

  &__title {
    width: span(4 of 6);
    margin-right: gutter(of 6);
  }

  &__title-heading {
    font-size: 2rem;
  }

  a {
    color: $header-menu-fontcolor;
  }

  &__menu-box {
    width: span(2 of 6);
    justify-content: flex-end;
  }

  .menu-main-menu-container,
  &__menu,
  &__menu > .menu-item > a {
    height: 100%;
  }

  .menu-item {
    position: relative;
  }

  .sub-menu {
    list-style: none;
  }

  @media screen and (max-width: ($header-menu-bp - 1)) {
    .sub-menu {
      padding-left: 10px;
      padding-bottom: 1em;
    }
  }

  @media screen and (min-width: $header-menu-bp) {

    .menu-item-has-children {
      &:hover {
        .sub-menu {
          opacity: 1;
          pointer-events: all;
        }
      }

      &:last-child {
        .sub-menu {
          right: 0;
        }
      }

      &:after {
        content: url(inc/icons/material-design-icons/svg/chevron-down-white.svg);
        color: white;
        position: relative;
        top: 6px;
        margin-left: -10px;
      }

      a,
      &:before {
        display: inline-block;
      }
    }

    &__menu {
      display: flex;

      margin-right: -1rem;
      a {
        height: $header-menu-height;
        box-sizing: border-box;
        padding: 1rem;
        line-height: $header-menu-height;
      }

      .sub-menu {
        pointer-events: none;
        opacity: 0;
        position: absolute;
        bottom: 0;
        background: white;
        transform: translateY(100%);
        z-index: 1;
        padding: 1rem;
        transition: .1s ease-out opacity;

        a {
          line-height: 1;
          height: auto;
          color: $black;
          white-space: nowrap;
        }
      }
    }

    .hamburger {
      display: none;
    }

    &__edges {
      height: $header-menu-height;
    }

    &__title {
      width: span(4 of 12);
      margin-right: gutter(of 12);
    }

    &__menu-box {
      width: span(9 of 12);
    }
  }

}
