// Grid
$grid-debug: true;
// $grid-debug: false;

@include add-grid(12);
@include add-gutter(.25);

// @include add-grid(12 at $bp-sm);
// @include add-gutter(.33 at $bp-sm);

// @include add-gutter(.22 at $bp-md);

// @include add-gutter(.3666 at $bp-lg);

@include sgs-change('gutter styles', 'split');

$gutter-width-1: gutter-span() / 100%;


* {
	box-sizing: border-box;
}

.row {
	clear: both !important;
	@extend .clearfix;
	margin-bottom: 70px;
}

.grid {
	margin: 0 auto;

	@include breakpoint($bp-sm) {
		@include grid-span(10,2);
	}

	@extend .row;

}

.inner-grid {
	@include grid-span(10,2);
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.clear-both {
	clear: both;
}

html {
	background-color: $html-bg;
}

body {
	background: none;
	@if $grid-debug == true {
		@include sgs-change('debug', true);
		@include background-grid($color: grey);
	}
}

html, body {
	min-height: 100vh;
	overflow-x: hidden;
}

.main, .site-footer {
	@extend .clearfix;
}

ul {
	list-style: none;
	padding: 0;
}

.main {
	padding: 16px 0 0;
}

@include breakpoint($bp-sm) {
	.main {
		padding: 30px 0 0;
	}
}

@include breakpoint($bp-md) {
	.main {
		padding: 60px 0 0;
	}
}

@include breakpoint($bp-lg) {
	.main {
		padding: 80px 0 0;
	}
}

.mdi:before {
    display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: inherit;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
}

.header-body {
	min-height: calc(100vh - 48px); //100 height minus footer height
}

.admin-bar {
	.header-body {
		min-height: calc(100vh - 48px - 32px); //100 height minus footer height minus wordpress admin bar height
	}
}
