// Colours
$white: #ffffff;
$black: #3B3B3B;
$obsidian: #1B1B1B;
$grey: #C1C1C1;
$grey-light: $grey;
$grey-dark: $grey;
$orange: #F7971C;
$blue-clear: rgba(0, 85, 143, 0.65);

$yellow: #FFCF01;
$blue-light: #9ACBEA;
$blue-dark: #00558F;



// Colours -> menu
$burger-nav-bars: $black;
$burger-nav-bg: $white;
$burger-nav-text: $black;

// Colours -> general
$html-bg: $white;
$header-bg-color: $blue-light;
$loader-bg-color: $orange;
$bg-overlay-colour: $blue-clear;
$sub-menu-background-colour: $white;
$sub-menu-font-colour: $blue-dark;
$sub-menu-font-colour-active: $yellow;

// Colours -> Typography
$body-colour: $white;
$headings-colour: $black;

// Colours -> Footer
$legal-bg: $blue-dark;
