//
// Menu breakpoint
//
$full-menu-desk-bp: 1200px;

//
// Colours
//
$white: #ffffff;
$black: #3B3B3B;
$obsidian: #1B1B1B;
$grey: #C1C1C1;
$blue: #0f83f5;

//
// Overlay colours
//
$black-overlay: rgba(47, 46, 46, 0.1);

//
// Typography colours
//
$body-colour: $white;
$headings-colour: $black;
$anchor-default: $blue;


//
// Theme colours
//
$html-bg: $white;
$header-bg-color: $grey;
$loader-bg-color: $blue;
$bg-overlay-colour: $black-overlay;
$sub-menu-background-colour: $white;
$sub-menu-font-colour: $black;
$sub-menu-font-colour-active: $blue;
$legal-bg: $grey;
$burger-nav-bars: $black;
$burger-nav-bg: $white;
$burger-nav-text: $black;


//
// Typography
//
$heading-font-family: sans-serif, helvetica;
$main-font-family: sans-serif, helvetica;
