$heading-font-family: sans-serif, helvetica;
$main-font-family: sans-serif, helvetica;
$anchor-default: $blue;
$headings-colour: $black;
$body-colour: $white;

html {
  font-size: 62.5%;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-font {
	font-family: $main-font-family;
}

.heading-font {
	font-family: $heading-font-family;
	color: $headings-colour;
}

body {
	color: $body-colour;
	@extend .main-font;
}

a, a:visited, a:active {
	color: $anchor-default;
	text-decoration: none;
}

.h1, .h2, .h3, .h4 {
	@extend .heading-font;
}

.h5 {
	@extend .main-font;
}

//to account for paragraph text within wysiwyg where you can't add the class of .p
// it can be added to a containing div <div class='p'><?php get_field('wysiwyg')</div>
.p p {
	font-size: inherit;
	line-height: inherit;
	margin-bottom: inherit;
}

.h1 {
	// font-size: rem();
}
