// Breakpoints
// $bp-xs: 320px;
$bp-sm: 1024px;
$bp-md: 1440px;
$bp-lg: 1920px;

$break2: 700px;

// Typography
$heading-font-family: "TeX Gyre Adventor", sans-serif;
$main-font-family: "Proxima Nova", sans-serif;


// Menu
$full-menu-desk: false;
$full-menu-desk: true;
$full-menu-desk-bp: 1200px;
