.scale-wrapper {
  .scale-wrapper-overlay {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.05);
    opacity: 0;
    -webkit-transition: .5s opacity ease;
    transition: .5s opacity ease;
    z-index: 100;
    pointer-events: none;
  }

  -webkit-transition: .5s transform ease;

  transition: .5s transform ease;
  -webkit-transform-origin: top left;
          transform-origin: top left;

  &.scaled {
    -webkit-transform: scale(.95);
            transform: scale(.95);
    .scale-wrapper-overlay {
      opacity: 1;
      pointer-events: all;
      cursor: pointer;
    }
  }

  &.scrolled {
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
  }
}


.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100px;
  height: 100px;
  z-index: 100000;
  margin: 0;
  pointer-events: none;
  opacity: 0;
  transition: .5s opacity ease;
  transition-delay: 1s;

  &.loading {
    opacity: 1;
  }
}

.double-bounce1, .double-bounce2 {
  background-color: $loader-bg-color;
}

// .pjax-container {
//   p, h1, h2, h3, h4, h5 {
//     transition: .35s opacity ease, .5s transform ease;
//     opacity: 1;
//   }
// }
//
// .pjax-in-transition {
//   p, h1, h2, h3, h4, h5 {
//     opacity: 0;
//     transform: translateY(-10px);
//   }
// }
