$grid-edges-width: 90%; // initial width
$grid-edges-width-breakpoint: 500px; // Breakpoint where grid width changes size
$grid-edges-width-after-breakpoint: 83%; // Site width after breakpoint
$grid-edges-max-width: 1400px; // max width for large screens

.grid-edges {
  width: $grid-edges-width;
  margin: 0 auto;

  @media (min-width: $grid-edges-width-breakpoint) {
    width: $grid-edges-width-after-breakpoint;
    max-width: $grid-edges-max-width;
  }

  .grid-edges {
    width: 100%;
  }
}
