$heading-font-family: sans-serif, helvetica;
$main-font-family: sans-serif, helvetica;
$anchor-default: $blue;
$headings-colour: $black;
$body-colour: $white;

html {
  font-size: 62.5%;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-font {
	font-family: $main-font-family;
}

.heading-font {
	font-family: $heading-font-family;
	color: $headings-colour;
}

body {
	color: $body-colour;
	@extend .main-font;
}

a, a:visited, a:active {
	color: $anchor-default;
	text-decoration: none;
}

.h1, .h2, .h3, .h4 {
	@extend .heading-font;
}

.h5 {
	@extend .main-font;
}

//to account for paragraph text within wysiwyg where you can't add the class of .p
// it can be added to a containing div <div class='p'><?php get_field('wysiwyg')</div>
.p p {
	font-size: inherit;
	line-height: inherit;
	margin-bottom: inherit;
}

h1, .h1 {
  // font-family: JosefinSans-SemiBold;
  font-size: 4.8em;
  color: #2F4C54;
  letter-spacing: -1px;
  line-height: 5.2rem;
}

h2, .h2 {
  // /* List your boat: */
  // font-family: JosefinSans-SemiBold;
  font-size: 3.6em;
  color: #2F4C54;
  letter-spacing: -0.25px;
  line-height: 4rem;
}

h4, .h4 {
  /* $295,000 CAD: */
  // font-family: LibreFranklin-Regular;
  font-size: 1.8em;
  color: #009A66;
  letter-spacing: 2px;
  line-height: 2.6rem;
}

h5, .h5 {
  /* 28’ Cutwater C-28: */
  // font-family: LibreFranklin-Regular;
  font-size: 1.8em;
  color: #00529B;
  letter-spacing: 0.5px;
  line-height: 2.8rem;
}

h6, .h6 {
  /* West Vancouver, Brit: */
  // font-family: LibreFranklin-SemiBold;
  font-size: 1.4em;
  color: #1D3137;
  letter-spacing: 1.5px;
  line-height: 2.8rem;


  &--light {
    /* Thunderbird Yacht Se: */
    // font-family: LibreFranklin-Medium;
    font-size: 1.4em;
    color: #FFFFFF;
    letter-spacing: 2px;
    line-height: 1.8rem;
  }
}

p, .p {
  /* Lorem ipsum dolor si: */
  // font-family: LibreFranklin-Regular;
  font-size: 1.6em;
  color: #2F4C54;
  letter-spacing: 0;
  line-height: 2.8rem;

  &--light {
    /* 5776 Marine Drive We: */
    // font-family: LibreFranklin-Regular;
    font-size: 1.4em;
    color: #FFFFFF;
    letter-spacing: 0.5px;
    line-height: 2rem;
  }
}

.nav-item {
  /* Our Marinas: */
  // font-family: LibreFranklin-SemiBold;
  font-size: 1.4em;
  color: #FFFFFF;
  letter-spacing: 1px;
  line-height: 1.6rem;
}

.breadcrumbs {
  /* Home » Boats & Yacht: */
  // font-family: LibreFranklin-Medium;
  font-size: 1.4em;
  color: #00529B;
  letter-spacing: 1px;
  line-height: 1.6rem;
}

.form-label {
  /* Maximum year: */
  // font-family: LibreFranklin-Italic;
  font-size: 1.6em;
  color: #829FA7;
  letter-spacing: 0;
  line-height: 2.8rem;
}

.button-text {
  /* List your yacht/boat: */
  // font-family: LibreFranklin-SemiBold;
  font-size: 1.4em;
  color: #FFFFFF;
  letter-spacing: 1px;
  line-height: 2rem;

  &--dark {
    /* more information: */
    // font-family: LibreFranklin-SemiBold;
    font-size: 1.4em;
    color: #00529B;
    letter-spacing: 1px;
    line-height: 2rem;
  }
}


.specs-copy {
  /* Price/ $289,000 CAD: */
  // font-family: LibreFranklin-Regular;
  font-size: 1.4em;
  color: #009B65;
  letter-spacing: 0.5px;
  line-height: 2rem;
}
