.main-header {
  @extend .clearfix;
  background-color: $header-bg-color;
  color: $white;
  background-size: cover;
  background-position: center;

  &__inner {
    // clear: both;
    text-align: center;
    position: relative;
    margin: 0;
  }

  &__title {
    margin: 0 auto;
  }
}

// @include breakpoint($bp-sm) {
//   .main-header {
//     &__inner {
//       padding: 44px 10px 10px;
//     }
//   }
// }

// @include breakpoint($bp-md) {
//   .main-header {
//     &__inner {
//       padding: 107px 10px 40px;
//     }
//   }
// }
