.main-menu {
  @if $full-menu-desk == true {
    @media (max-width: $full-menu-desk-bp - 1) {
    }
  }
    height: 100px;
    display: flex;
    align-items: center;
    
  @if $full-menu-desk == true {
    @media (max-width: $full-menu-desk-bp - 1) {
    }
  }


  @extend .clearfix;

  .social {
    &-icons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      max-width: 180px;
      margin-left: 0;
    }
  }
}

.admin-bar .hamburger__layout {
  margin-top: 32px;
}


.hamburger__layout {
  position: relative;
  z-index: 102;
  height: 100%;
  float: right;
  position: fixed;
  height: 80px;
  top: 10px;
  width: 100%;
  max-width: 93.75%;
  pointer-events: none;
  left: 0;
  right: 0;
  margin: 0 auto;
  .hamburger {
    pointer-events: all;
  }
}

.main-navigation {
  background: $black;
  position: fixed;
  height: 100vh;
  overflow: auto;
  z-index: 101;
  top: 0;
  right: 0;
  padding: 100px #{$gutter-width-1 * 200}vw;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform .5s ease, -webkit-box-shadow .25s ease;
  transition: -webkit-transform .5s ease, -webkit-box-shadow .25s ease;
  transition: transform .5s ease, box-shadow .25s ease;
  transition: transform .5s ease, box-shadow .25s ease, -webkit-transform .5s ease, -webkit-box-shadow .25s ease;
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
  min-width: 50vw;
  -webkit-box-shadow: 10px 10px 50px 50px rgba(0,0,0,0);
          box-shadow: 10px 10px 50px 50px rgba(0,0,0,0);

  &.open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition-delay: 0 !important;
            transition-delay: 0 !important;
    -webkit-box-shadow: 10px 10px 50px 50px rgba(0,0,0,0.1);
            box-shadow: 10px 10px 50px 50px rgba(0,0,0,0.1);
  }

  a, a:visited, a:link, a:hover {
    color: white;
    text-decoration: none;
  }

  ul {
    list-style: none;
    padding: 0;
    text-align: left;
  }

  li {
    line-height: 2.5;
  }

  .main-navigation-menu {
    a {
      padding: 15px;
      margin-left: -15px;
    }
  }

  // .logo-block {
  //   max-width: 280px;
  // }
}

@include breakpoint($bp-sm) {
  // .main-menu {
  //   height: 8.5vw;
  // }

  .hamburger__layout {
    width: 83%;
    top: 2vw;
  }
}

@include breakpoint($bp-md) {
  .main-menu {
    height: 131px;
  }

  // .site-title {
  //   &__logo {
  //     // width: 165px;
  //   }
  // }

  .hamburger__layout {
    top: 25px;
  }
}
