.main-menu__button {
  background: $burger-nav-bg;
  color: $burger-nav-text;
  height: 100%;
  outline: 0;
  text-align: center;
  &:hover {
    opacity: 1;
  }
}

.hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: right;
}

.hamburger-box {
  width: 30px;
  margin-left: auto;
  margin-right: auto;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  background-color: $burger-nav-bars;
  width: 100%;
  border-radius: 0;
  -webkit-transition-property: width, -webkit-transform;
  transition-property: width, -webkit-transform;
  transition-property: transform, width;
  transition-property: transform, width, -webkit-transform;
}

.hamburger:not(.is-active) {
  .hamburger-inner::before {
    width: 66%;
  }

  .hamburger-inner::after {
    width: 33%;
  }
}

.hamburger-title {
  display: block;

  &__container {
    height: 20px;
    width: 100%;
    display: inline-block;
    overflow: hidden;
    margin-top: 10px;
  }

  &__inner {
    -webkit-transition: -webkit-transform .25s ease;
    transition: -webkit-transform .25s ease;
    transition: transform .25s ease;
    transition: transform .25s ease, -webkit-transform .25s ease;
    -webkit-transition-delay: .1s;
            transition-delay: .1s;
    display: inline-block;
  }
}

.hamburger.is-active {
  .hamburger-title__inner {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@include breakpoint($bp-md) {
  .main-menu__button {
    width: 120px;
    height: 101px;
  }
}


@if $full-menu-desk == true {
    @media (min-width: ($full-menu-desk-bp - 1)) {
      .hamburger__layout {
        display: none;
      }
    }
}
