.social {

  &-icons {
    @extend .social-media-icons;

    text-align: center;
    margin-bottom: 30px;
    white-space: nowrap;
  }

  &-icon {
    display: inline-block;
    padding: 5px 10px;

    &:first-child {
      padding-left: 0;
    }
  }
}

@media (min-width: $bp-sm) {
  .social {
    &-icons {
      padding-left: 80px;
      margin-left: auto;
      margin-bottom: 0;
    }

    &-icon {
      padding: 5px 15px;

      &:last-child {
        padding-right: 0;
      }
    }
  }
}
