/* Breakpoints*/
$bp-xs: 320px;
$bp-sm: 1024px;
$bp-md: 1440px;
$bp-lg: 1920px;

$break2: 700px;

/* Colours*/
$white: #ffffff;
$black: #2B2B2B;
$grey: #171738;
$grey-light: #D8D8D8;
$grey-lighter: #f3f3f3;
$green-muted: #61908E;
$mint-light: #E7FFF0;
$mint: #96cfac;
$mint-dark: #5B7F69;
$turquoise: #92E1DE;
$blue-light: #E1FFFE;
$purple: #44449C;
$purple-dark: #2F2F72;
$purple-darker: #27275F;
$pink-light: #FFE2E0;
$pink: #f784bb;
$pink-dark: #9A5174;
$cream: #FFF1DD;
$orange: #F7971C;
$orange-dark: #9A5E11;


/* Grid*/
@include add-grid(4);
@include add-gutter(.15);

@include add-grid(12 at $bp-sm);
@include add-gutter(.33 at $bp-sm);

@include add-gutter(.22 at $bp-md);

@include add-gutter(.3666 at $bp-lg);

$gutter-width-1: gutter-span() / 100%;



.row {
	clear: both !important;
	@extend .clearfix;
	margin-bottom: 70px;
}

.grid {
	/* @include sgs-change('debug', true);*/
	/* @include background-grid($color: grey);*/

	max-width: 93.75%;
	margin: 0 auto;

	@include breakpoint($bp-sm) {
		/* max-width: 1593px;*/
		@include grid-span(10,2);
	}

	@extend .row;

}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.clear-both {
	clear: both;
}

html {
	background-color: $purple-darker;
}

body {
	background: none;
}

html, body {
	min-height: 100vh;
	overflow-x: hidden;
}

.main, .site-footer {
	@extend .clearfix, .clear-both;
}

ul {
	list-style: none;
	padding: 0;
}

.main {
	padding: 16px 0 0;
}

@include breakpoint($bp-sm) {
	.main {
		padding: 30px 0 0;
	}
}

@include breakpoint($bp-md) {
	.main {
		padding: 60px 0 0;
	}
}

@include breakpoint($bp-lg) {
	.main {
		padding: 80px 0 0;
	}
}

.mdi:before {
    display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: inherit;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

.link-target {
	padding-top: 25px;
	margin-top: -25px;
	outline: none;
}
