.main-font {
	font-family: "Libre Franklin", sans-serif;
}

.heading-font {
	font-family: "Kanit", sans-serif;
}

body {
	color: white;
	font-weight: 400;
	@extend .main-font;
}

.h1 {
	@extend .heading-font;
	font-size: 32px;
	font-weight: 700;
	font-style: italic;
	letter-spacing: 2px;
	line-height: 28px;
	text-transform: uppercase;
}

.h2 {
	@extend .heading-font;
	font-size: 28px;
	font-weight: 500;
	font-style: italic;
	letter-spacing: 1px;
	line-height: 24px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.h3 {
	@extend .heading-font;
	font-size: 24px;
	font-weight: 500;
	letter-spacing: 0.5px;
	line-height: 22px;
}

.h4 {
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
	letter-spacing: 3.05px;
}

.h5 {
	@extend .heading-font;
	font-size: 16px;
	letter-spacing: 3px;
	color: $orange;
	text-transform: uppercase;
}

.p {
	a, a:visited, a:link, a:active {
		color: $mint;
	}
}

.text-legalese {
	font-weight: 400;
}

.text-legalese,
.button {
	font-size: 12px;
}

.button {
	letter-spacing: 2px;
	font-weight: 700;
}

.p {
	font-size: 16px;
	line-height: 26px;
	margin-bottom: 20px;
}

.p p {
	font-size: inherit;
	line-height: inherit;
	margin-bottom: inherit;
}

.footer-nav-text {
	@extend .heading-font;
	font-size: 13px;
	line-height: 16px;
	letter-spacing: 1.4px;
	text-transform: uppercase;
}

.social-media-icons {
	font-size: 21px;
}

.main-navigation-menu {
	li {
		margin-bottom: 10px !important;
		@extend .p;

		a, a:visited, a:link, a:active {
			color: white;
		}
	}
}


@include breakpoint($bp-sm) {
	.h1 {
		font-size: 48px;
		letter-spacing: 3px;
		line-height: 38px;
	}

	.h2 {
		font-size: 32px;
		letter-spacing: 1px;
		line-height: 28px;
	}

	.h3 {
		font-size: 28px;
		letter-spacing: 0.5px;
		line-height: 26px;
	}

	.text-legalese,
	.button {
		font-size: 14px;
	}

	.button {
		letter-spacing: 2.4px;
	}

	.footer-nav-text {
		font-size: 16px;
		letter-spacing: 1.6px;
		line-height: 20px;
		text-transform: uppercase;
	}
}





@include breakpoint($bp-md) {
	.h1 {
		font-size: 80px;
		letter-spacing: 1.5px;
		line-height: 62px;
	}

	.h2 {
		font-size: 62px;
		letter-spacing: 1px;
		line-height: 50px;
		margin-bottom: 20px;
	}

	.h3 {
		font-size: 42px;
		line-height: 40px;
		letter-spacing: 0.5px;
	}

	.p {
		font-size: 19px;
		/* font-size: 21px;*/
		line-height: 28px;
		/* line-height: 32px;*/
		margin-bottom: 30px;
	}

	.social-media-icons {
		font-size: 28px;
	}
}



@include breakpoint($bp-lg) {
	.h1 {
		font-size: 96px;
		letter-spacing: 3px;
		line-height: 76px;
	}
}

a, a:visited, a:active {
	color: white;
	text-decoration: none;
}
